<!DOCTYPE html>
<html>
<head>
	<title>URL Shortener API</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>URL Shortener Microservice</h1>
		</div>
		<div class="page-header">
			<h3>How to Use:</h3>
		</div>
		<p>1) Enter '/new/a_website_url/' to end of the url</p>
		<p>2) It returns your original url and a shortened version</p>

		<div class="page-header">
			<h3>Example Usage</h3>
		</div>
		<code>https://nameless-wave-51577.herokuapp.com/new/https://www.google.com</code>
		<br />
		<code>https://nameless-wave-51577.herokuapp.com/new/https://www.youtube.com</code>

		<div class="page-header">
			<h3>Example Output</h3>
		</div>
		<code>
			{	
				<br />
				original_url: "https://www.youtube.com",
				<br />
				short_url: "http://nameless-wave-51577.herokuapp.com/4566",
				<br />
			}		
		</code>
	</div>
	<div class="space"></div>
	<script
	src="http://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>