<!DOCTYPE html>
<html>
<head>
	<title>HeaderParser API</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>HeaderParser API</h1>
		</div>
		<div class="page-header">
			<h3>How to Use:</h3>
		</div>
		<p>1) Enter '/api/whoami/' to end of url</p>
		<p>2) It returns your IP address, language, and software</p>

		<div class="page-header">
			<h3>Example Usage</h3>
		</div>
		<code>https://protected-shore-32014.herokuapp.com/api/whoami/</code>

		<div class="page-header">
			<h3>Example Output</h3>
		</div>
		<code>
			{	
				<br />
				ipaddress: "45.3.11.94",
				<br />
				language: "en-US",
				<br />
				software: "Windows NT 10.0; Win64; x64"
				<br />
			}		
		</code>
	</div>
	<div class="space"></div>
	<script
	src="http://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>